<app-header></app-header>
<p>LISTADO DE EMPRESAS</p>


<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of empresas">
    <tr>
      <td>{{item.nombre }}</td>
      <td>{{item.direccion}}</td>
      <td>{{item.telefono}}</td>
    </tr>
  </tbody>
</table>
