<app-header></app-header>
<p>NUEVA EMPRESA</p>


<p>Formulario basado en Template</p>
<form (ngSubmit)="enviar()" #form="ngForm">
  <input type="text" name="nombre" [(ngModel)]="nombre">
  <input type="text" name="direccion" [(ngModel)]="direccion">
  <input type="text" name="telefono" [(ngModel)]="telefono">
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<hr>





<p>Formulario Reactivo</p>
<form [formGroup]="empresaForm" (ngSubmit)="enviarReactivo()">

  <div class="form-group">
    <input type="text" name="nombre" formControlName="nombre">
  </div>
  <div class="form-group">
    <input type="text" name="direccion" formControlName="direccion">
  </div>
  <div class="form-group">
    <input type="text" name="telefono" formControlName="telefono">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<button class="btn btn-primary" (click)="verDatos()">Ver Datos</button>
